.navbar{
    /* border: 2px solid black; */
    background: black;
    /* color: white; */
}
/* .vac-logo-name-box{
    border: 2px solid orchid;
}
.nav-head{
    border: 2px solid rgb(255, 0, 0);
}
.nav-list{
    border: 2px solid rgb(102, 255, 0);
}
.nav-list-item{
    border: 2px solid rgb(81, 0, 255);
} */