*{
    margin: 0px;
     padding:0px;
     box-sizing: border-box;
}

.exer-op-div{
    border: 2px solid slateblue;
}
.exer-op-card{
    background: linear-gradient(90deg, rgb(32, 32, 32), #8b8bf2);
    color: white;
    z-index: 100;
    box-shadow: 0px 0px 5px 1px yellow;
}
.exer-op-card:hover{
    scale: 102%;
    transition: 0.2s ease-in;
    color: black;
    background: rgb(253 224 71);
}
.exer-op-card:hover span{
    color: black;
}
.exer-select-card{
    box-shadow: 0px 0px 5px 1px yellow;
}
.exer-select-card:hover{
  box-shadow: 0px 0px 5px 1px white;
  scale: 102%;
}
